<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaee.zutuan.mapper.MemberMapper">

    <select id="addMember"  >
        insert into member (memid,memname,grpname) values (#{memid},#{memname},#{grpname})
    </select>

<!--    <select id="queryMemById" resultType="Member">-->
<!--        select *from member where memid = #{memid}-->
<!--    </select>-->

    <select id="queryAllMember" resultType="Member">
        select * from member
    </select>

<!--    <update id="updateMember" parameterType="Member">-->
<!--        update member set memname=#{memname},gender=#{gender} where memid=#{memid}-->
<!--    </update>-->

<!--    <delete id="deleteMember" parameterType="int">-->
<!--        delete from member where memid = #{memid}-->
<!--    </delete>-->
</mapper>